@import 'variables';

$primary: #31444e;
$success: #8dbd86;
$info: #929292;
$warning: #8577b3;
$secondary: #85b8c9;
$dark: #272343;
$danger: #E6739F;
$light: #e6f0f5;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
    background-color: $default-color-bg;
    color: $default-color;
}

.links:hover {
  color: white;
  text-decoration: none;
}

.bg-gray {
  background-color: #cccccc;
}

@media only screen and (max-width: 767px) {
  .phone__item {
    display: block;
  }

  .tablet__item {
    display: none;
  }

  .pc__item {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .phone__item {
    display: none;
  }

  .tablet__item {
    display: block;
  }

  .tablet__listgroup {
    width: 50px;
  }

  .pc__item {
    display: none;
  }
}

@media (min-width: 1024px){
  .phone__item {
    display: none;
  }

  .tablet__listgroup {
    width: 275px;
  }

  .pc__item {
    display: block;
  }
}

.u-pre-wrap {
  white-space: pre-wrap;
}

.text-gray {
  color: #6b6b6b;
}